#film_rated .rate {
  width: 135px !important;
}

#rotten_tomatoes {
  width:130px;
}

#rotten_tomatoes .icon {
  width: 34px;
  height: 35px;
  background-image: url(http://d3biamo577v4eu.cloudfront.net/static/images/redesign/icons-v2.png);
  background-position: -61px -126px;
  float:left;
  margin-right:7px;
}

#rotten_tomatoes .icon.fresh {
  background-position: -62px -126px;
}

#rotten_tomatoes .icon.rotten {
  background-position: -95px -126px;
}

#rotten_tomatoes .icon.certified_fresh {
  background-position: -159px -126px;
}

#rotten_tomatoes a {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  color: #333 !important;
  line-height: 38px;
}